
.Container {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  flex-direction: column;
  align-items:center;
}